<po-loading-overlay
    [p-screen-lock]="loadingActived"
    [hidden]="loadingHidden"
></po-loading-overlay>

<po-page-list
    p-title="Product packaging"
    [p-filter]="pageFilter"
>
    <app-product-master
        [valuesForm]="valuesForm"
        (onToggleLoading)="toggleLoading()"
        (onUpdateTableItems)="getTableItems()"
        (onUpdatePagination)="updatePagination($event)"
    ></app-product-master>
    
    <po-table
        [p-columns]="tableColumns"
        [p-items]="tableItems"
        [p-show-more-disabled]="showMoreDisable"
        (p-show-more)="onShowMore()"
        [p-actions]="tableActions"
        [p-actions-right]="true"
        [p-striped]="true"
        p-container="shadow"
        [p-sort]="true"
        [p-selectable]="true"
        [p-single-select]="true"
        (p-selected)="selectTableRecord($event)"
    >
    </po-table>
</po-page-list>